<script type="text/javascript" src="js/libs/crafty.js" ></script>
<script defer src="/socket.io/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		var herocontroller = [0,0,0,0];
		var can_start = false;
		console.log('Page Loaded');
		var output = $("#output");
	
		var sio = window.sio = io.connect();
		sio.on('connect', function () {
			output.append('Server Connected ! <br/>');

			sio.emit('roomjoin', function (roomid) {
				output.append('Room ID: '+ roomid +'<br/>');
			});
			
			sio.on('heroconnect', function (data) { // controller connect
				var hero = Number(data.hero.substr(4));
				var session = data.session;
				
				if(herocontroller.indexOf(session) < 0){
					can_start = true;
					herocontroller[hero] = session;
					$('#hero'+hero).addClass('hero'+hero+'_on');
					output.append('"HERE ' + hero + '" connected ! session is "'+session+'" <br/>');
				}
			}).on('game control', function (data) {
				var hero = herocontroller.indexOf( data.user.id );
				console.log(data.msg.type);
			}).on('disconnect', function (msg) {
				output.append('Server Disconnected! <br/>');
			}).on('logger', function(data) {
				console.log(data.msg);
			});
			
			// when start remove all things
			$('#start_btn').click(function () {
				if(can_start){
					console.log('START');
					// var game = require('./main');
					// game.start("gamecanvas");
					$('#hero_selector').addClass('hidden');
					$('#gamecanvas').removeClass('hidden');
				}
			});
		});

		// Set global error handler
		sio.socket.on('error', function(msg) {
			output.append('Server Error '+msg+'<br/>');
		});
	});
	
	
	function updateLevelNum (num) {
		$('#levelnum').value(num);
	}
	function updateMonsterNum (num) {
		$('#monsternum').value(num);
	}
	function updateUserHP (id, hp) {
		$('#user'+id+".hp").value(hp);
	}
</script>

<style type="text/css">
	#hero_selector{
		background: url('images/index_bg.jpg') no-repeat;
		width:960px;
		height:640px;
	}
	.btn{
		border:none;
	}
	#start_btn{
		background: url('images/index_start1.png') no-repeat;
		position:absolute;
		width: 174px;
		height: 77px;
		top: 503px;
		left:410px;
	}
	.hero1{
		background: url('images/index_gun1.png') no-repeat;
	}
	.hero2{
		background: url('images/index_knife1.png') no-repeat;
	}
	.hero3, .hero4{
		background: url('images/index_ask1.png') no-repeat;
	}
	.hero1_on{
		background: url('images/index_gun2.png') no-repeat;
	}
	.hero2_on{
		background: url('images/index_knife2.png') no-repeat;
	}
	.hero3_on, .hero4_on{
		background: url('images/index_ask2.png') no-repeat;
	}
	#hero_selector ul{
		list-style-type: none;
		line-height: 164px;
		position:absolute;
		top: 260px;
		left: 65px;
		width:820px;
	}
	.buttons li{
		float:left;
		width:25%;
		height:164px;
	}
</style>


<div id="hero_selector">
	<div id="title"></div>
	<ul class="buttons">
		<li class="btn hero1" id="hero1"></li>
		<li class="btn hero2" id="hero2"></li>
		<li class="btn hero3" id="hero3"></li>
		<li class="btn hero4" id="hero4"></li>
	</ul>
	<div id="start_btn"></div>
</div>

<div id="ui">
	<div id="user1">
		<div class="avatar"></div>
		<div class="hp"></div>
	</div>
	<div id="user2">
		<div class="avatar"></div>
		<div class="hp"></div>
	</div>
	<div id="user3">
		<div class="avatar"></div>
		<div class="hp"></div>
	</div>
	<div id="user4">
		<div class="avatar"></div>
		<div class="hp"></div>
	</div>
	<div id="levelnum">
		
	</div>
	<div id="monsternum">
		
	</div>
</div>

<div id="output"> Output: <br/></div>

<canvas id="gamecanvas" class='hidden'></canvas>