<script type="text/javascript" src="js/libs/crafty.js" ></script>
<script defer src="/socket.io/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
	$(function(){
		console.log('Page Loaded');
		var output = $("#output");
	
		var sio = window.sio = io.connect();
		sio.on('connect', function () {
			output.append('Server Connected ! <br/>');

			sio.emit('roomjoin', function (roomid) {
				output.append('Room ID: '+ roomid +'<br/>');
			});
			
			sio.on('heroconnect', function (data) { // controller connect
				var hero = data.hero;
				var session = data.session;
				output.append(hero + ' connected ! session is "'+session+'" <br/>');
			}).on('game start', function () {
				//TODO
			}).on('disconnect', function (msg) {
				output.append('Server Disconnected! <br/>');
			});
			
			// when start remove all things
			$('#start_btn').click(function () {
				var game = require('./main');
				game.start("gamecanvas");
				$('#hero_selector').empty();
			});
		});

		// Set global error handler
		sio.socket.on('error', function(msg) {
			output.append('Server Error '+msg+'<br/>');
		});
	});
</script>

<div id="hero_selector">
	<div id="title"></div>
	<ul class="buttons">
		<button class="choosebtn negative" name="hero1">
			HERO1
		</button>
		<button class="choosebtn negative" name="hero1">
			HERO2
		</button>
		<button class="choosebtn negative" name="hero1">
			HERO3
		</button>
		<button class="choosebtn negative" name="hero1">
			HERO4
		</button>
	</ul>
	<span id="start_btn">START</span>
</div>
<div id="output"> Output: <br/></div>

<canvas id="gamecanvas" style="display: none"></canvas>