<script type="text/javascript" src="js/controller.js" ></script>

<style type="text/css">
	#mobilemain{
		background: url('images/mobile_bg.png') no-repeat;
		width:480px;
		height:320px;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack:center;
	}
	.btn{
		border:none;
		background-size:contain;
	}
	ul.buttons{
		list-style-type: none;
		width:80%;
	}
	.buttons li{
		float:left;
		width:25%;
		height:82px;
	}
	.hero1, .hero3{
		background: url('images/index_gun1.png') no-repeat;
	}
	.hero2, .hero4{
		background: url('images/index_knife1.png') no-repeat;
	}
	.hero1_on, .hero3_on{
		background: url('images/index_gun2.png') no-repeat;
	}
	.hero2_on, .hero4_on{
		background: url('images/index_knife2.png') no-repeat;
	}
	
/*	for gaming*/
	#controller{
		background: url('images/mobile_game.png') no-repeat;
		width:480px;
		height:320px;
		display:-webkit-box;
		-webkit-box-align:center;
		-webkit-box-pack:center;
	}
	#area{
		border:none;
/*		background-size:contain;*/
		width:33%;
		height:33%;
	}
	.selhero1, .selhero3{
		background: url('images/mobile_gun.png') no-repeat;
	}
	.selhero2, .selhero4{
		background: url('images/mobile_knife.png') no-repeat;
	}
	.selhero1_on, .selhero3_on{
		background: url('images/mobile_gun.png') no-repeat -145px 0px;
	}
	.selhero2_on, .selhero4_on{
		background: url('images/mobile_knife.png') no-repeat -145px 0px;
	}
</style>

<div id="mobilemain">
	<div id="title"></div>
	<ul class="buttons">
		<li class="btn hero1" id="hero1"></li>
		<li class="btn hero2" id="hero2"></li>
		<li class="btn hero3" id="hero3"></li>
		<li class="btn hero4" id="hero4"></li>
	</ul>
	<div id="ready"></div>
</div>

<div id="controller" class="hidden">
	<div id="area">
	</div>
</div>
